.verification-container {
    -fx-background-color: #2a2a2a;
    -fx-padding: 20px;
    -fx-border-color: #2a2a2a;
    -fx-border-width: 2px;
}

/* Aplicar el mismo color a la raíz de la ventana */
.root {
    -fx-background-color: #2a2a2a;
}


.verification-label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.verification-input {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: white;
    -fx-border-color: #3b3b3b;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
}

.verify-button {
    -fx-background-color: #0066cc;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
}

.verify-button:hover {
    -fx-background-color: #004d99;
}
